rulat
vzroslyiy.aux
vzroslyiy.fdb_latexmk
vzroslyiy.fls
vzroslyiy.log
vzroslyiy.pdf
detskiy.aux
detskiy.fdb_latexmk
detskiy.fls
detskiy.log
detskiy.pdf
xpargalka.aux
xpargalka.fdb_latexmk
xpargalka.fls
xpargalka.log
xpargalka.pdf
